.todos {
  width: 100%;
}

.todos__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.svg__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  width: 5em;
  color: var(--color-secondary);
  font-size: 3em;
}