@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --color-primary: #302e2e;
  --color-secondary: #FF8000;
  --color-text: #FFFFFF;
  --color-text-input: rgb(66, 63, 61);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: yellow;
}

html,
body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font: 1.2em "Fira Sans", sans-serif;
  width: 100vw;
}

button {
  cursor: pointer;
  border: none;
  width: auto;
  color: var(--color-text);
  background-color: transparent;
}

button:hover {
  background-color: rgb(92, 86, 86);
}

.app {
  width: 30%;
  min-width: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  margin-top: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-secondary);
  background-color: inherit;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}




