@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
  --color-primary: #302e2e;
  --color-secondary: #FF8000;
  --color-text: #FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font: 1.2em "Fira Sans", sans-serif;
  width: 100vw;
}

.app {
  width: 30%;
  min-width: 500px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  margin-top: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-secondary);
  background-color: inherit;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header__icon {
  color: var(--color-secondary);
  width: 50px;
  height: 50px;
}

.header__quote {
  font-family: "Courgette";
  font-size: 0.9rem;
}

.header__quote p::before {
  content: "\201C";
}

.header__quote p::after {
  content: "\201D";
}

.form {
  width: 100%;
}

.form__container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 63, 61);
  border-style: solid;
  border-color: var(--color-secondary);
  border-radius: 50px;
  width: 100%;
}

.form__input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.form__input {
  width: 100%;
  height: 2.5rem;
  border: 0;
  margin-left: 1em;
  font-size: 1rem;
  background-color: inherit;
}

input[type=text]:focus {
  outline: none;
  caret-color: var(--color-text);
  color: var(--color-text);
}

.form__btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px;
  width: 10%;
}

.form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #6daf08;
}

.form__add-icon {
  color: var(--color-text);
  font-size: 2em;
  font-weight: bold;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 5px;
  width: 100%;
}

.filters__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-secondary);
  width: 15%;
}

.filters__btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 82%;
}

.filters__btns button{
  padding: 0.5em;
  border-radius: 10px;
  font-size: 0.8rem;
  width: 25%;
}

.task-count {
  width: 100%;
  padding: 20px;
  padding-left: 0;
}

.task-count__text {
  font-size: 1rem;
}

.todos {
  width: 100%;
}

.todos__todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.todos__todo-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-style: solid;
  border-color: var(--color-secondary);
  border-width: 0.8px;
  border-radius: 10px;
  margin: 5px 0;
  font-size: 1rem;
}

.todos__input {
  padding-left: 1em;
  padding-top: 0.4em;
}

.todos__label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.todos__label:hover .checkbox ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a orange background */
.todos__label .checkbox:checked ~ .checkmark {
  background-color: var(--color-secondary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.todos__label .checkbox:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.todos__label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todos__control-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.todos__control-btns button {
  padding: 5px;
  border-radius: 50%;
  width: 30%;
}

.todo-item__edit-btn {
  color: #6daf08;
  font-size: 1rem;
}

.todo-item__remove-btn {
  color: red;
  font-size: 1rem;

}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.footer__text {
  font-size: 0.7rem;
}

/* -----------------------------*/


button {
  cursor: pointer;
  border: none;
  width: auto;
  color: var(--color-text);
  background-color: transparent;
}

button:hover {
  background-color: rgb(92, 86, 86);
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  width: 10em;
  height: 15em;
}

